body {background-color: rgb(192, 227, 239);
}

h1 {text-align: center;
}

header{
    background-color: rgb(96, 206, 243);
    margin-left: 1px;
    padding-right: 10px;
}

#linkit {
    float: left;
    background-color: rgb(142, 214, 238);
    margin-right: 10px;
    padding-right: 30px;
    height: 400px;
    width: 8%;
}


.valikko { 
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(142, 214, 238);
}

.valikko > div { 
    flex: 1;
    text-align: center;
}

.kappale {width: 50%;

}
a:hover {
    color: red;
}