body {background-color: rgb(192, 227, 239);
}

h1 {text-align: center;
}

header{
    background-color: rgb(119, 210, 241);
    margin-left: 1px;
    padding-right: 10px;
    

}

.linkit {
    float: left;
    background-color: rgb(119, 210, 241);
    margin-left: 1px;
    margin-right: 10px;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 1px;
    padding-top: 0%;
    height: 400px;
}

.valikko { 
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(119,210, 241);
}
