body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("kuvat/kukka.jpg");
    height: 100%;
    background-repeat:no-repeat;
    width: 100%;
    background-size:cover;
    background-position: center;
}

.otsikko {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}
