@media only screen and (max-width: 600px) {
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0;
}
    
.bg {
    background-image: url("kuvat/stormtrooper.jpg");
    height: 100%;
    background-repeat:no-repeat;
    width: 100%;
    background-size:cover;
    background-position: center;
}

.otsikko {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
    text-shadow: 2px 2px white;
  

}

#tekstikappale {
    background-color: white;
    ;
    padding-left: 30px;
    margin-left: 25px;
    margin-right: 700px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    

}